<div id="cart-wrapper" class="cart-wrapper border border-1 border-info rounded-4 display-6 fs-5">
    <h3 class="d-flex justify-content-center">Cart</h3>
    @for (cart of carts; track carts) {
        <li class="added-product" *ngIf="cart.quantity > 0">
            {{ cart.product.name }}
            <div class="quantity">
                <p class="add-subtract" (click)="updateQuantity(cart, -1)">-&nbsp;</p>
                <p>{{ cart.quantity }}</p>
                <p class="add-subtract" (click)="updateQuantity(cart, 1)">&nbsp;+</p>
            </div>
            <p class="price">{{ getProductSum(cart.product.id) | currency: 'EUR' }} </p>
        </li>
    }
    <div class="proceed-wrapper">
        <li class="added-product" *ngIf="checkoutResult === CheckoutState.SUCCESS">Checkout completed!</li>
        <li class="added-product" *ngIf="checkoutResult === CheckoutState.FAILED">Checkout failed!</li>
        <li class="added-product" *ngIf="checkoutResult === CheckoutState.NONE">Total: {{ getTotalSum() | currency: 'EUR'}} </li>
        <button type="button" class="btn btn-warning mt-2 justify-content-center" [disabled]="this.productSum.length === 0"
                (click)="proceedCheckout(carts)">Proceed Checkout
        </button>
    </div>
</div>
