<div>
    <app-header></app-header>
    <div *ngIf="productState === ProductState.SUCCESS; else errorMessage;" class="d-flex flex-row justify-content-center">
        <app-product [products]="products" (count)="incrementCount($event)"></app-product>
        <app-cart [carts]="carts"></app-cart>
    </div>
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
</div>

<ng-template #errorMessage>
    <div class="mt-5 d-flex justify-content-center" *ngIf="productState === ProductState.FAILED">
        Hımmm....Something went wrong!
    </div>
</ng-template>
